* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    background-image: url(../images/611260ad2b9641628594349717.jpg);
    background-size: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.crop-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-wrapper {
    width: 800px;
    height: 300px;
    margin-top: 20px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.preview-wrapper {
    margin-top: 30px;
    text-align: center;
}

.preview-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.crop-button,
.download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.crop-button:hover,
.download-button:hover {
    background-color: #3e8e41;
}

.download-button {
    margin-left: 20px;
}

.preview-container {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC);
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-left: 220px;
}
