<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <meta name="baidu-site-verification" content="U67Xy1Qfos" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据集页面</title>

    <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="//at.alicdn.com/t/c/font_3809804_ejzwu3ij6cu.css" th:href="@{//at.alicdn.com/t/c/font_3809804_ejzwu3ij6cu.css}">
<!--图标 -->

</head>
<body th:style=" 'background-image: url(images/611260ad2b9641628594349717.jpg)'" style="background-image: url(/static/images/611260ad2b9641628594349717.jpg) ; ">
<!--顶部图片-->
<span class="head" align="center" style="margin-top: 1%;margin-left: 2% ">
            <img class="ui circular image" align="center" src="../static/images/logo.png" th:src="@{/images/logo.png}" style="width: 60px;height: 60px;">
            <div class="text-hasmokan" align="center" style=" margin-right:calc(100% - 300px)">易迁移</div>
            <img class="jsj" src="../static/images/jsj.jpg" style="width: 50px;height: 50px!important; border-radius: 50%;" th:src="@{/images/jsj.jpg}">
        </span>

<!--中间内容-->
<div class="m-padded-tb-big animated fadeIn MIDDLE"
     style=
     "width:100%;
     margin-top: 2%;
     float: left;
     display: flex;
     font-size: 0;

    ">
<!--    侧边导航栏-->
    <div class="left-view" style="font-size: 0; margin-left: 3%!important;">
        <div class="datapage-shell">
            <a href="#" class="datapage-box"><i class="iconfont icon-liebiaoxuanze"></i><span>数据集页面</span></a>
            <a href="#1" class="datapage-box"><i class="iconfont icon-shufabichu40"></i><span>欧阳询行书</span></a>
            <a href="#2" class="datapage-box"><i class="iconfont icon-shufabichu31"></i><span>颜真卿楷书</span></a>
            <a href="#3" class="datapage-box"><i class="iconfont icon-shufabichu43"></i><span>赵孟頫楷书</span></a>
            <a href="#4" class="datapage-box"><i class="iconfont icon-shufabichu88"></i><span>赵孟頫行书</span></a>
            <a href="#5" class="datapage-box"><i class="iconfont icon-shufabichu81"></i><span>文徵明与颜真卿楷书</span></a>
            <a href="#6" class="datapage-box"><i class="iconfont icon-shufabichu33"></i><span>颜真卿与赵孟頫楷书</span></a>
            <a href="#7" class="datapage-box"><i class="iconfont icon-shufabichu53"></i><span>颜真卿与赵孟頫楷书</span></a>
        </div>
    </div>
    <div class="ui container"
         style="margin-left: 4%!important;
        width: 60%">
        <div class="ui stackable grid">
            <!--博客内容-->
            <div class="ui vertical segment">
                <div class="ui m-container-small m-opacity">
                    <div class="ui secondary segment " align="center" >
                       <h1 style="color: black;font-size:24px;font-family:STXingkai"><i class="bookmark icon"> </i>数据集展示</h1>
                    </div>
                </div>

                <!--博文列表-->
                <div class="ui padded segment  m-opacity" >
                    <div class="ui large aligned mobile reversed stackable grid">
                        <!--博文信息-->
                        <div class="eleven wide column ">
                            <h3 class="ui header" ><a href="#"  target="_blank" class="m-black m-title-font" >欧阳询行书</a></h3>
                            <p class="m-text m-margin-top-max" >欧阳询（557-641），字信本，公元557年出生于衡州（今衡阳），祖籍潭州临湘（今湖南长沙），楷书四大家（欧阳询、颜真卿、柳公权、赵孟頫）之一。与虞世南、褚遂良、薛稷三位并称“初唐四大家”。隋时官太常博士，唐时封为太子率更令，也称“欧阳率更”。因其子欧阳通善于书法，父子俩被合称为“大小欧”。书法于平正中见险绝，号为“欧体”。代表作：楷书有《九成宫醴泉铭》《皇甫诞碑》，行书有《仲尼梦奠帖》《行书千字文》。</p>
                            <div id="1" class="ui m-margin-top-max grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!--                                            欧阳询画像-->
                                            <img src="../static/images/ouyx.png"  th:src="@{/images/ouyx.png}"  alt="" class="ui avatar image">
                                            <div class="content"><a href="#"  target="_blank" class="header"  >欧阳询</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span >2020-01-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span >2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span >2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="download icon"></i>
                                            <!--                                            <span th:text="${blog.download}">点击下载</span>-->
<!--                                            记得加 th:href="@{/dataset/1.ouyx_xingword.zip}"否则项目中无法下载zip-->
                                            <a href="../static/dataset/1.ouyx_xingword.zip" th:href="@{/dataset/1.ouyx_xingword.zip}" download="欧阳询行书.zip" style="color: blue">点击下载</a>
                                            <!--                                            <a href="../static/dataset/1.ouyx_xingword.zip" th:src="@{/datasey/qingFengWeChat.jpg}" alt="" class="ui rounded image" style="width: 110px"-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--博文图片-->
                        <div class="five wide column">
                            <a href="#"  target="_blank">
                                <img src="../static/images/ouyx_xingword.png" th:src="@{/images/ouyx_xingword.png}" alt="" class="ui rounded image" width="400px" height="350px">
                            </a>
                        </div>

                    </div>
                </div>
                <!--                第二篇博文-->
                <div id="2" class="ui padded segment m-padded-tb-large m-opacity" >
                    <div class="ui large aligned mobile reversed stackable grid">
                        <!--博文信息-->
                        <div class="eleven wide column ">
                            <h3 class="ui header" ><a href="#"  target="_blank" class="m-black m-title-font" >颜真卿楷书</a></h3>
                            <p class="m-text m-margin-top-max" >颜真卿(709年-784年8月23日)，字清臣，小名羡门子，别号应方，京兆万年(今陕西西安)人 ，祖籍琅玡临沂(今山东临沂)。秘书监颜师古五世从孙 、司徒颜杲卿从弟，唐代名臣、书法家。颜真卿是中国书法历史上著名的楷书四大家之首，与柳公权并称“颜筋柳骨”。 他的楷书书法，被称为颜体，最大的特点是丰腴雄浑，磅礴大气。</p>

                            <p class="m-text m-margin-top-max" >颜真卿楷书的特点：颜体形顾之簇新、法度之严峻、气势之磅礴前无古人。从美学上论，颜体端庄美、阳刚美、人工美，数美并举，幽为后世立则。从时代论，唐初承晋宋馀绪，未能自立，颜体一出，唐斗坛所铸新体成为盛唐气象鲜明柄志之一。他的楷书一反初唐书风，行以篆瘤之笔，化瘦硬为丰腴雄浑，结体宽博而气势伙云，有力道劲而气概凛然，这种风格也体现了大唐帝国繁盛的风度，并与他高尚的人格契合，是书法美
                                与人格美完美结合的典例。他的书体被称为“颜体”，与柳公权并称“颜柳"，有“颜筋柳骨"之誉。</p>

                            <div class="ui m-margin-top-max grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!--                                          颜真卿画像-->
                                            <img src="../static/images/yzq.png" th:src="@{/images/yzq.png}"  alt="" class="ui avatar image">
                                            <div class="content"><a href="#"  target="_blank" class="header"  >颜真卿</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span >2020-01-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span >2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span >2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="download icon"></i>
                                            <a href="../static/dataset/2.yzq_kaiword.zip"  th:href="@{/dataset/2.yzq_kaiword.zip}" download="颜真卿楷书.zip" style="color: blue">点击下载</a>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--博文图片-->
                        <div class="five wide column">
                            <a href="#"  target="_blank">
                                <img src="../static/images/yzq_kaiword.png" th:src="@{/images/yzq_kaiword.png}"  alt="" class="ui rounded image" width="400px" height="350px">
                            </a>
                        </div>

                    </div>
                </div>

                <!--                第三篇博文-->
                <div id="3" class="ui padded segment m-padded-tb-large m-opacity" >
                    <div class="ui large aligned mobile reversed stackable grid">
                        <!--博文信息-->
                        <div class="eleven wide column ">
                            <h3 class="ui header" ><a href="#"  target="_blank" class="m-black m-title-font" >赵孟頫楷书</a></h3>
                            <p class="m-text m-margin-top-max" >赵孟頻，字子昂，号松雪道人，湖州人。本为宋朝宗室，宋亡后家居自学。后来元世祖派人到江南搜访遗贤，被荐举入朝，官至翰林学士承 旨。他自创“赵体”书，与欧阳询、颜真卿、柳公权并称“楷书四大家”。死后追封魏 国公，谥文敏。赵孟頻是书画家，也是元代一.位重要诗人。著作有《松雪斋集》等。
                                赵孟頫楷书特点：外貌圆润而筋骨内涵。其点画华滋遒劲，结体宽绰秀美，点画之间彼引呼应十分紧密。外似柔润而内实坚强，形体端秀而骨架劲挺。学者不仅学其形，而重在学其神;

                            </p>
                            <div class="ui m-margin-top-max grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!--                                          赵孟頫画像-->
                                                <!--  切记th:src="@{/images/zmf.png}" 才能在项目中显示正确的图片，前面的img0 src不会影响项目中的图片显示，只运行datapage.html时会影响-->
                                            <img src="/images/zmf.png" th:src="@{/images/zmf.png}"  alt="" class="ui avatar image">
                                            <div class="content"><a href="#"  target="_blank" class="header" >赵孟頫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span >2020-01-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span >2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span >2222</span>
                                        </div>

                                        <div class="item">
                                            <i class="download icon"></i>
                                            <a href="../static/dataset/3.zmf_kaiword.zip"  th:href="@{/dataset/3.zmf_kaiword.zip}" download="赵孟頫楷书.zip" style="color: blue">点击下载</a>

                                        </div>


                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--博文图片-->
                        <div class="five wide column">
                            <a href="#"  target="_blank">
                                <img src="../static/images/zmf_kaiword.png"  th:src="@{/images/zmf_kaiword.png}"  alt="" class="ui rounded image" width="400px" height="350px">
                            </a>
                        </div>

                    </div>
                </div>


                <!--                第四篇博文-->
                <div  id="4" class="ui padded segment m-padded-tb-large m-opacity" >
                    <div class="ui large aligned mobile reversed stackable grid">
                        <!--博文信息-->
                        <div class="eleven wide column ">
                            <h3 class="ui header" >
                                <a href="#"  target="_blank" class="m-black m-title-font" >赵孟頫行书</a>
                            </h3>
                            <p class="m-text m-margin-top-max" >赵孟頫笔下的《洛神赋》用笔华丽柔美，将赵氏行书的风格完全展现了出来，其笔意婉转，遒媚多姿，让很多人一看便深陷其中，大呼精美。赵孟頫行书的其中一个特点就是“美”，美到淋漓尽致，美到让人陶醉，书风遒媚、秀逸，结体严整、笔法圆熟，让人赏心悦目。</p>
                            <div class="ui m-margin-top-max grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!--                                          赵孟頫画像-->
                                            <img src="/images/yzq.png"  th:src="@{/images/zmf.png}" alt="" class="ui avatar image">
                                            <div class="content"><a href="#"  target="_blank" class="header"  >赵孟頫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span >2020-01-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span >2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span >2222</span>
                                        </div>

                                        <div class="item">
                                            <i class="download icon"></i>
                                            <a href="../static/dataset/4.zmf_xingword.zip" th:href="@{/dataset/4.zmf_xingword.zip}" download="赵孟頫行书.zip" style="color: blue">点击下载</a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--博文图片-->
                        <div class="five wide column">
                            <a href="#"  target="_blank">
                                <img src="../static/images/zmf_xingword.png" th:src="@{/images/zmf_xingword.png}" alt="" class="ui rounded image" width="400px" height="350px">
                            </a>
                        </div>

                    </div>
                </div>

                <!--                第五篇博文-->

                <div id="5" class="ui padded segment m-padded-tb-large m-opacity" >
                    <div class="ui large aligned mobile reversed stackable grid">
                        <!--博文信息-->
                        <div class="eleven wide column ">
                            <h3 class="ui header" >
                                <a href="#"  target="_blank" class="m-black m-title-font" >文徵明楷书与颜真卿楷书对比</a>

                            </h3>
                            <p class="m-text m-margin-top-max">
                               文徽明在书法史上以兼善诸体闻名，尤擅长行书和小楷， 王世贞在《艺苑卮言》上评论说：“ 待诏（文征明）以小楷名海内，其所沾沾者隶耳，独篆不轻为人下，然亦自入 能品。所书《千字文》四体，楷法绝精工，有《黄庭》、《遗教》笔意，行体苍润，可称玉版《圣教》，隶亦妙得《受禅》三昧，篆书斤斤阳冰门风，而楷有小法，可宝也。”

                                文徽明书法温润秀劲，稳重老成，法度谨严而意态生动。虽无雄浑的气势，却具晋唐书法的风致。他的书风较少具有火气，在尽兴的书写中，往往流露出温文的儒雅之气。也许仕途坎坷的遭际消磨了他的英年锐气，而大器晚成却使他的风格日趋稳健。</p>
                            <p class="m-text m-margin-top-max" >颜真卿楷书的特点：颜体形顾之簇新、法度之严峻、气势之磅礴前无古人。从美学上论，颜体端庄美、阳刚美、人工美，数美并举，幽为后世立则。从时代论，唐初承晋宋馀绪，未能自立，颜体一出，唐斗坛所铸新体成为盛唐气象鲜明柄志之一。他的楷书一反初唐书风，行以篆瘤之笔，化瘦硬为丰腴雄浑，结体宽博而气势伙云，有力道劲而气概凛然，这种风格也体现了大唐帝国繁盛的风度，并与他高尚的人格契合，是书法美
                                与人格美完美结合的典例。他的书体被称为“颜体”，与柳公权并称“颜柳"，有“颜筋柳骨"之誉。</p>
                            <div class="ui m-margin-top-max grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!--                                          文徵明与颜真卿画像-->
                                            <img src="../static/images/whm.png" th:src="@{/images/whm.png}" alt="" class="ui avatar image">
                                            <img src="../static/images/yzq.png" th:src="@{/images/yzq.png}" alt="" class="ui avatar image">
                                            <div class="content"><a href="#"  target="_blank" class="header" >文徵明与颜真卿</a></div>

                                        </div>

                                        <div class="item">
                                            <i class="eye icon"></i> <span>2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span>2222</span>
                                        </div>


                                        <div class="item">
                                            <i class="download icon"></i>
                                            <a href="../static/dataset/5.whmkaiw_vs_yzqkaiw.zip" th:href="@{/dataset/5.whmkaiw_vs_yzqkaiw.zip}" download="文徵明楷书与颜真卿楷书对比.zip" style="color: blue">点击下载</a>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--博文图片-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="../static/images/zmf_grassword.png" th:src="@{/images/zmf_grassword.png}"  alt="" class="ui rounded image" width="400px" height="350px">
                            </a>
                        </div>

                    </div>
                </div>



                <!--                第六篇博文-->
                <div id="6" class="ui padded segment m-padded-tb-large m-opacity" >
                    <div class="ui large aligned mobile reversed stackable grid">
                        <!--博文信息-->
                        <div class="eleven wide column ">
                            <h3 class="ui header" >
                                <a href="#" target="_blank" class="m-black m-title-font" >颜真卿楷书与赵孟頫草书对比</a>
                            </h3>
                            <p class="m-text m-margin-top-max" >颜真卿楷书的特点：颜体形顾之簇新、法度之严峻、气势之磅礴前无古人。从美学上论，颜体端庄美、阳刚美、人工美，数美并举，幽为后世立则。从时代论，唐初承晋宋馀绪，未能自立，颜体一出，唐斗坛所铸新体成为盛唐气象鲜明柄志之一。他的楷书一反初唐书风，行以篆瘤之笔，化瘦硬为丰腴雄浑，结体宽博而气势伙云，有力道劲而气概凛然，这种风格也体现了大唐帝国繁盛的风度，并与他高尚的人格契合，是书法美
                                与人格美完美结合的典例。他的书体被称为“颜体”，与柳公权并称“颜柳"，有“颜筋柳骨"之誉。</p>

                            <p class="m-text m-margin-top-max">    赵孟頫草书特点：博彩众家之长，在赵孟頫的书法之中，我们可以看到很多名家的书法特点，这些特点都能很好的出现在赵氏的作品之中。这不是简单的糅合，而是结合这些书法的有点，进行有机的组合</p>

                            <div class="ui m-margin-top-max grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!--                                          颜真卿与赵孟頫画像-->
                                            <img src="../static/images/yzq.png" th:src="@{/images/yzq.png}"  alt="" class="ui avatar image">
                                            <img src="../static/images/zmf.png" th:src="@{/images/zmf.png}"alt="" class="ui avatar image">
                                            <div class="content"><a href="#" target="_blank" class="header" >颜真卿与赵孟頫</a></div>
                                        </div>

                                        <div class="item">
                                            <i class="eye icon"></i> <span>2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span>2222</span>
                                        </div>


                                        <div class="item">
                                            <i class="download icon"></i>
                                            <a href="../static/dataset/6.yzqkaiw_vs_zmfgrassw.zip" th:href="@{/dataset/6.yzqkaiw_vs_zmfgrassw.zip}" download="颜真卿楷书与赵孟頫草书对比.zip" style="color: blue">点击下载</a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--博文图片-->
                        <div class="five wide column">
                            <a href="#"  target="_blank">
                                <img src="../static/images/whz_kaiword.png" th:src="@{/images/whz_kaiword.png}"  alt="" class="ui rounded image" width="400px" height="350px">
                            </a>
                        </div>

                    </div>
                </div>



                <!--                第七篇博文-->
                <div id="7" class="ui padded segment m-padded-tb-large m-opacity" >
                    <div class="ui large aligned mobile reversed stackable grid">
                        <!--博文信息-->
                        <div class="eleven wide column ">
                            <h3 class="ui header" ><a href="#"  target="_blank" class="m-black m-title-font" >颜真卿楷书与赵孟頫楷书对比</a></h3>
                            <p class="m-text m-margin-top-max" >颜真卿楷书的特点：颜体形顾之簇新、法度之严峻、气势之磅礴前无古人。从美学上论，颜体端庄美、阳刚美、人工美，数美并举，幽为后世立则。从时代论，唐初承晋宋馀绪，未能自立，颜体一出，唐斗坛所铸新体成为盛唐气象鲜明柄志之一。他的楷书一反初唐书风，行以篆瘤之笔，化瘦硬为丰腴雄浑，结体宽博而气势伙云，有力道劲而气概凛然，这种风格也体现了大唐帝国繁盛的风度，并与他高尚的人格契合，是书法美
                                与人格美完美结合的典例。他的书体被称为“颜体”，与柳公权并称“颜柳"，有“颜筋柳骨"之誉。</p>
                            <p class="m-text m-margin-top-max">    赵孟頫楷书特点： 形意结合，赵孟頫书法特点最重要的就是形意的结合，他的书法在形意结合方面做的非常的不错。赵孟頫的书法结合前人的书法优点，注重形意结合，让书法有了自己的意韵。</p>
                            <div class="ui m-margin-top-max grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!--                                          颜真卿与赵孟頫画像-->
                                            <img src="../static/images/yzq.png" th:src="@{/images/yzq.png}"  alt="" class="ui avatar image">
                                            <img src="../static/images/zmf.png" th:src="@{/images/zmf.png}"  alt="" class="ui avatar image">
                                            <div class="content"><a href="#"  target="_blank" class="header">颜真卿与赵孟頫</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span>2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span>2222</span>
                                        </div>

                                        <div class="item">
                                            <i class="download icon"></i>
                                            <a href="../static/dataset/7.yzqkaiw_vs_zmfkaiw.zip" th:href="@{/dataset/7.yzqkaiw_vs_zmfkaiw.zip}"  download="颜真卿楷书与赵孟頫楷书对比.zip" style="color: blue">点击下载</a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--博文图片-->
                        <div class="five wide column">
                            <a href="#"  target="_blank">
                                <img src="../static/images/yzqkaiword_vs_zmfkaiword.png" th:src="@{/images/yzqkaiword_vs_zmfkaiword.png}"  alt="" class="ui rounded image" width="400px" height="350px">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<div class="m-margin-top-max" align="center" >
    <a th:href="@{welcome.html}" >
        <button type="button" class="ui teal button m-mobile-wide" style="margin-top: 2%!important;"><i class="home icon"></i>返回首页</button>
    </a>
</div>



<!--置顶图标-->
<div id="toolbar" class="m-padded-tb-large m-fixed m-right-bottom" style="display: none">
    <a href="#" class="ui teal icon button"><i class="chevron up icon"></i> </a>
</div>


<br>
<br>
<br>
<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" style="height: 200px">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div style="margin-left: 200px">
                <div class="ui inverted link list">
                    <div class="item1">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >关注微信公众号</div>
                        <img src="../../static/images/jsj.png" th:src="@{/images/jsj.png}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div style="margin-left: 500px">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >联系我们</div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email：1474440247@qq.com</div>
                    <div href="#" class="m-text-thin">QQ：1474440247</div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>

<!--雪花效果-->
<script src="http://www.lmlblog.com/winter/templets/xq/js/snowy.js"></script>
<script src="http://www.lmlblog.com/blog/12/js/Snow.js"></script>
<style type="text/css">
    .snow-container{position:fixed;top:0;left:0;width:100%;height:100%;pointer-events:none;z-index:100001;}
</style>

<div class="snow-container"></div>

</body>
</html>